.fixed-filters {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.mt-5 {
    margin-top: 5rem !important;
}
