.card-design {
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.255);
    
}
.address-card {
    height: auto;
    width: auto;
    margin-bottom: 20px;
}

.button-insert {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 50%;
    padding: 5px;
    background-color: #ECA4AF;
    color: #ffffff;
    border: 1px solid #ECA4AF;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
}

.button-insert:hover {
    background-color: #9B414F;
}


.responsive-text {
    font-size: 1rem;
}

.responsive-button {
    font-size: 16px;
}

.responsive-title {
    font-size: 3rem;
}

@media (max-width: 768px) {
    .responsive-title {
        font-size: 1rem;
    }

    .responsive-text {
        font-size: 0.875rem;
    }

    .responsive-button {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .responsive-title {
        font-size: 0.75rem;
    }

    .responsive-text {
        font-size: 0.75rem;
    }

    .responsive-button {
        font-size: 12px;
    }
}


.modal-button {
    background-color: #ECA4AF;
    color: #ffffff;
    border-color: #ECA4AF;
  }

  .modal-button:hover {
    background-color: #9B414F;
    border-color: #ECA4AF;
  }
  
  .button-disabled {
    background-color: #e0e0e0; /* Color de fondo m치s tenue */
    border-color: #bdbdbd; /* Color de borde m치s tenue */
    color: #9e9e9e; /* Color de texto m치s tenue */
    cursor: not-allowed; /* Cambia el cursor para indicar que est치 deshabilitado */
}

